.item {
	width:100%;
	vertical-align:top;
	margin-bottom:20px;
	border-left:5px solid rgb(246, 246, 188);
    border-top:5px solid rgb(246, 246, 188);
    border-right:1px solid rgb(207, 207, 207);
    border-bottom:1px solid rgb(207, 207, 207);
	height:200px;
	box-sizing:border-box;
	position:relative;
    color:black;
}
.cell {
	display:inline-block;
	vertical-align:top;
	box-sizing:border-box;
	padding:10px;
}
.cell.right {
	padding-left:0;
	margin-left:200px;
    border-left:1px solid rgb(255, 255, 255);
    height:100%;
    background:rgb(238, 238, 238);
    width:calc(100% - 200px);
}

.item .count {
    font-family:arial;
    margin-bottom:10px;
}
.cell.left {
	width:200px;
	height:100%;
	border-right:1px solid rgb(204, 204, 204);
	position:absolute;
	display:table;
	table-layout:fixed;
    background:rgb(255, 255, 255, .7);

}
.item p {
	margin-bottom:10px;
    line-height:13px;
}
.item .condition {
	font-size:12px;
	font-family:arial;
}
.item .title {
	font-size:18px;
	font-family:arial;
	margin-bottom:10px;
	line-height: 26px;
    color:#0c6eb3;
}

.item .price {
	font-size:20px;
	font-family:arial;
	font-weight:bold;
}
.item .img_shell {
	display:table-cell;
	vertical-align:middle;
    width:100px;
    height:100px;
}
.item img {
	margin:auto;
	display:block;
	border: 1px solid grey;

}

.item .content {
    padding-left:10px;
}
.item .btn-danger {
    font-family:"arial";
    height:30px;
    line-height:13px;
    color:white !important;
}
.count b > span {
    font-weight:bold;
    color:red;
}
.count {
    font-size:12px;
}

.fit_width {
    max-width:150px;
}
.fit_height {
    max-height:150px;
}
.item a {
    text-decoration: none;
}

.item a:hover
{
     text-decoration:none;
     cursor:pointer;
}
.featured {
    padding:10px;
    box-sizing:border-box;
    padding-bottom:0px;
}
.featured .item{
    height:300px;
}
.featured .item .cell.left {
	width:400px;
    padding:0;
}
.featured .item .cell.right {
    margin-left:400px;
    width:calc(100% - 400px);
}
.featured .item img {
	margin:auto;
	display:block;
	border: 1px solid grey;
}
.featured > .title {
    font-size:30px;
    font-weight:bold;
    font-family:arial;
    margin-bottom:10px;
    color:rgb(255, 255, 255);
}
.featured .condition {
    font-size:15px;
}
.featured .condition span {
    font-weight:bold;
}
.featured  .price {
    font-size:60px;
    line-height:70px
}
.featured button {
    height:50px !important;
    font-size:20px;
}
.featured .fit_width {
    max-width:340px !important;
}
.featured .fit_height {
    max-height:300px !important;
}
.featured .count {
    font-size:14px;
}
@media only screen and (max-width: 650px) {
  .item .title {
    font-size: 15px;
    line-height:20px;
  }
}
@media only screen and (max-width: 760px) {
  .featured .count {
      font-size:12px;
  }
}
@media only screen and (max-width: 720px) {
  .featured .count span {
      display:block;
      margin-bottom:3px;
  }
  .featured  .price {
    font-size:40px;
    line-height:50px
    }
}
@media only screen and (max-width: 680px) {
  .featured .item .cell.left {
        width:280px;
        padding:0;
    }
    .featured .item .cell.right {
        margin-left:280px;
        width:calc(100% - 280px);
    }
    .featured .fit_width {
        max-width:240px !important;
    }

}
@media only screen and (max-width: 680px) {
  .featured .item .cell.left {
        width:200px;
        padding:0;
    }
    .featured .item .cell.right {
        margin-left:200px;
        width:calc(100% - 200px);
    }
    .featured .fit_width {
        max-width:150px !important;
    }

}